.aboutPageText {
	padding-top: 16px;
	margin-left: 170px;
	margin-right: 40px;
	min-height: 170px;
}
.aboutPageGraphicElement {
	float: left;
	text-align: center;
	width: 160px;
	margin-top: 2.6rem;
}
.aboutPageGraphic {
	min-width: 50%;
	max-height: 110px;
	display: inline-block;
	max-width: 160px;
}
